.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(48, 48, 48, 1);
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
  }
  &__descr {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 555px) {
  .footer {
    z-index: -1;
    &__box {
      flex-direction: column;
    }
    &__logo {
      width: 127px;
    }
    &__descr {
      margin-top: 12px;
    }
  }
}

