.header {
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
  }
}

@media (max-width: 768px) {
  .header {
    &__logo {
      width: 31%;
    }
  }
}

@media (max-width: 375px) {
  .header {
    &__logo {
      width: 127px;
    }
    &__box {
      padding: 8px 0;
    }
  }
}
