.nav__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

  &:not(:first-child) {
    margin-left: 28px;
  }
  &:focus {
    border-bottom: 2px solid #787878;
  }
  &:hover {
    color: rgba(67, 116, 229, 1);
  }
  &:active {
    color: rgb(0, 47, 158);
    border: none;
  }
}

@media (max-width: 555px) {
  .nav__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    &:not(:first-child) {
      margin-left: 0;
      margin-top: 24px;
    }
  }
}
